<div class="container" style="padding-top: 50px;">
<p>
    Welcome to &lt;full-stack-dev&gt;. This is the place where I will be sharing all my technical blogs.
    Being a full stack developer my day to day life inside and outside office involves constant learning and over the years I have
    been thankful to each and every content creator who-so-ever is available online, for all the knowledge I gathered. I observed how is 
    easy it is to upskill ourselves if we have proper access to resource when we need it and if we have the will.
</p>

<p>
    So in the process of learning, I observed that I have been playing the role of only a receiver and never tried to give back to the 
    community in true sense. So this web application is the attempt to reach you all, with what all learnings I have to share.
</p>

<p>
    I am still working on many of its aspects and till then you can catch me on my YouTube Channel <b><a href="https://www.youtube.com/channel/UCU2ORXboj6_hQW1gnakzaVg/about">fullstack-dev-logs</a></b>. I am constantly
    creating short videos on several topics which can be accessed any time and soon you will find this application to be useful for some 
    in-depth understanding of core topics!!
</p>
<div style="text-align: center;">
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/hLU1FxEMIMw" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
</div>
</div>  
